#include "resource.h"
#include <winres.h>

IDI_ICON_APP ICON "..\\Client\\res\\app.ico"

#pragma code_page(65001)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_SETTINGS                   "Settings"
    IDS_EDIT_USER_PHRASES          "Edit User Phrases"
    IDS_EDIT_EXCLUDED_PHRASES      "Edit Excluded Phrases"
    IDS_OPEN_USER_DATA_FOLDER      "Open User Data Folder"
    IDS_OPEN_LOG_FOLDER            "Open Log Folder"
    IDS_ENABLE_LOGGING             "Enable Logging"
    IDS_TRACE_LOG                  "Trace Log"
    IDS_RESTART_SERVER             "Restart Server"
    IDS_TRAY_TIP                   "Win-McBopomofo Server"
    IDS_DAEMON_STARTING            "Win-McBopomofo Server daemon starting..."
    IDS_SERVER_RUNNING             "Server is running in background. Check System Tray to exit."
    IDS_CURSOR_BETWEEN_SYLLABLES   "Cursor between %s and %s"
    IDS_SYLLABLES_REQUIRED         "%d syllables required"
    IDS_SYLLABLES_MAXIMUM          "Maximum %d syllables"
    IDS_PHRASE_ALREADY_EXISTS      "Phrase already exists"
    IDS_PRESS_ENTER_TO_ADD_THE_PHRASE "Press Enter to add the phrase"
    IDS_MARKING_NOT_AVAILABLE_IN_FONT_ANNOTATION_MODE "Marking not available in font annotation mode"
    IDS_FONT_ANNOTATION_MODE_TOOLTIP "Font annotation mode"
    IDS_FONT_ANNOTATION_MODE_TOOLTIP_ADVANCED "Font annotation mode (Advanced)"
    IDS_BOOST                      "Boost"
    IDS_EXCLUDE                    "Exclude"
    IDS_CANCEL                     "Cancel"
    IDS_BOOST_PROMPT               "Do you want to boost the score of the phrase?"
    IDS_EXCLUDE_PROMPT             "Do you want to exclude the phrase?"
END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
STRINGTABLE
BEGIN
    IDS_SETTINGS                   "設定"
    IDS_EDIT_USER_PHRASES          "編輯使用者詞庫"
    IDS_EDIT_EXCLUDED_PHRASES      "編輯排除詞庫"
    IDS_OPEN_USER_DATA_FOLDER      "開啟使用者資料夾"
    IDS_OPEN_LOG_FOLDER            "開啟 Log 資料夾"
    IDS_ENABLE_LOGGING             "啟用 Logging"
    IDS_TRACE_LOG                  "Trace Log"
    IDS_RESTART_SERVER             "重新啟動 Server"
    IDS_TRAY_TIP                   "小麥注音 Server"
    IDS_DAEMON_STARTING            "小麥注音 Server 啟動中..."
    IDS_SERVER_RUNNING             "Server 正在背景執行，請檢查系統匣圖示。"
    IDS_CURSOR_BETWEEN_SYLLABLES   "游標在 %s 與 %s 之間"
    IDS_SYLLABLES_REQUIRED         "最少需要 %d 個字"
    IDS_SYLLABLES_MAXIMUM          "最多只能 %d 個字"
    IDS_PHRASE_ALREADY_EXISTS      "詞彙已存在"
    IDS_PRESS_ENTER_TO_ADD_THE_PHRASE "按 Enter 加入詞彙"
    IDS_MARKING_NOT_AVAILABLE_IN_FONT_ANNOTATION_MODE "注音標示模式下無法加詞"
    IDS_FONT_ANNOTATION_MODE_TOOLTIP "注音標示模式"
    IDS_FONT_ANNOTATION_MODE_TOOLTIP_ADVANCED "注音標示模式 (進階)"
    IDS_BOOST                      "提昇權重"
    IDS_EXCLUDE                    "加入排除字隨"
    IDS_CANCEL                     "取消"
    IDS_BOOST_PROMPT               "您想要提昇這個詞的權重嗎？"
    IDS_EXCLUDE_PROMPT             "您想要排除這個詞嗎？"
END



